[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-apt-get"]
	path = dotbot-apt-get
	url = https://github.com/jmp-rax/dotbot-apt-get.git
